<div class='pvl panel panel-message'>
  <div class='panel-body panel-text txt-m'>
    Not Authorized: You do not have sufficient permissions for the space containing the requested service instance.
  </div>
</div>
